h1,h2,h3,h4,h5 {
    font-weight: bold;
}

:root {
    --header-height: 200px;
    --nav-bar-height: 60px;
}

.header-content {
    display: flex;
}

.logo-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: var(--nav-bar-height);
}

.logo-link {
    display: block;
}

.nav-main ul a {
    min-height: auto;
    height: var(--nav-bar-height);
    padding: calc((var(--nav-bar-height) * 0.55) - 1em) .5em;
}

.button {
    padding: 5px 15px;
}

#woo-content {
	grid-column: content / content-end;
}

.products {
	margin-top: 2em;
}

.columns-4 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product {
	margin-bottom: 1.4em;
	display:flex;
	flex-direction: column;
    align-items: flex-end;
    border:1px solid rgb(225,225,225);
	padding: 1em;
}

.product:hover {
	background: rgb(250,250,250);
}

.product .button {
	color: var(--pri-con-color);
	padding: .1em .6em;

}

.product del {
	font-size: 0.8em;
	
	color: var(--sec-color);
}

.product ins {
	text-decoration: none;
}

.product a {
	text-decoration: none;
	position: relative;
	color: var(--text-col);
}

.columns-4 .product {
	flex: 0 0 30%;
}


.onsale {
	position: absolute;
	padding: 4px 8px;
	background: var(--pri-color);
	color: var(--pri-con-color);
}
