/*! Flickity v2.0.10
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 0;
  width: 35px;
  height: 100%;
  border: none;
  border-radius: 0;
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}

.flickity-prev-next-button:hover {
        background: rgba(0,0,0,0.8);
}

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  opacity: 0.6;
}

.flickity-prev-next-button.previous {
        left: 0;
        border-right: 1px solid rgba(255,255,255,0.5);
}
.flickity-prev-next-button.next {
        right: 0;
        border-left: 1px solid rgba(255,255,255,0.5);
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #fff
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}
/* line 27, ../sass/simplelightbox.scss */
body.hidden-scroll {
  overflow: hidden;
}

/* line 30, ../sass/simplelightbox.scss */
.sl-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.95;
  display: none;
  z-index: 1050;
}

/* line 41, ../sass/simplelightbox.scss */
.sl-wrapper {
  z-index: 1040;
}
/* line 43, ../sass/simplelightbox.scss */
.sl-wrapper button {
  border: 0 none;
  background: transparent;
  font-size: 28px;
  padding: 0;
  cursor: pointer;
}
/* line 49, ../sass/simplelightbox.scss */
.sl-wrapper button:hover {
  opacity: 0.7;
}
/* line 54, ../sass/simplelightbox.scss */
.sl-wrapper .sl-close {
  display: none;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 1060;
  margin-top: -14px;
  margin-right: -14px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  font-family: Arial, Baskerville, monospace;
  color: #fff;
  font-size: 3rem;
}
/* line 69, ../sass/simplelightbox.scss */
.sl-wrapper .sl-close:focus {
  outline: none;
}
/* line 74, ../sass/simplelightbox.scss */
.sl-wrapper .sl-counter {
  display: none;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1060;
  color: #000;
  font-size: 1rem;
}
/* line 84, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation {
  width: 100%;
  display: none;
}
/* line 87, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button {
  position: fixed;
  top: 50%;
  margin-top: -22px;
  height: 44px;
  width: 22px;
  line-height: 44px;
  text-align: center;
  display: block;
  z-index: 1060;
  font-family: Arial, Baskerville, monospace;
  color: #fff;
}
/* line 99, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button.sl-next {
  right: 5px;
  font-size: 2rem;
}
/* line 104, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button.sl-prev {
  left: 5px;
  font-size: 2rem;
}
/* line 109, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button:focus {
  outline: none;
}
@media (min-width: 35.5em) {
  /* line 87, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-navigation button {
    width: 44px;
  }
  /* line 116, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-navigation button.sl-next {
    right: 10px;
    font-size: 3rem;
  }
  /* line 121, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-navigation button.sl-prev {
    left: 10px;
    font-size: 3rem;
  }
}
@media (min-width: 50em) {
  /* line 87, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-navigation button {
    width: 44px;
  }
  /* line 129, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-navigation button.sl-next {
    right: 20px;
    font-size: 3rem;
  }
  /* line 134, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-navigation button.sl-prev {
    left: 20px;
    font-size: 3rem;
  }
}
/* line 142, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image {
  position: fixed;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 10000;
}
/* line 147, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image img {
  margin: 0;
  padding: 0;
  display: block;
  border: 0 none;
}
@media (min-width: 35.5em) {
  /* line 147, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-image img {
    border: 0 none;
  }
}
@media (min-width: 50em) {
  /* line 147, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-image img {
    border: 0 none;
  }
}
/* line 160, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image iframe {
  background: #000;
  border: 0 none;
}
@media (min-width: 35.5em) {
  /* line 160, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-image iframe {
    border: 0 none;
  }
}
@media (min-width: 50em) {
  /* line 160, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-image iframe {
    border: 0 none;
  }
}
/* line 170, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption {
  display: none;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 180, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption.pos-top {
  bottom: auto;
  top: 0;
}
/* line 185, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption.pos-outside {
  bottom: auto;
}
/* line 190, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-download {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #000;
  z-index: 1060;
}

/* line 201, ../sass/simplelightbox.scss */
.sl-spinner {
  display: none;
  border: 5px solid #333;
  border-radius: 40px;
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  opacity: 0;
  position: fixed;
  top: 50%;
  width: 40px;
  z-index: 1007;
  -webkit-animation: pulsate 1s ease-out infinite;
  -moz-animation: pulsate 1s ease-out infinite;
  -ms-animation: pulsate 1s ease-out infinite;
  -o-animation: pulsate 1s ease-out infinite;
  animation: pulsate 1s ease-out infinite;
}

/* line 220, ../sass/simplelightbox.scss */
.sl-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-moz-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-o-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-ms-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
/*
Theme Name: Envisic Apex v0.8
Theme URI: http://www.envisic.nl
Author: Envisic
Author URI: http://www.envisic.nl/
Description: A full solution for small and medium businesses
*/

@font-face {
	font-family: 'IconsFont';
	src:url('fonts/Icons/line-awesome.eot');
	src:url('fonts/Icons/line-awesome.eot?#iefix') format('embedded-opentype'),
		url('fonts/Icons/line-awesome.ttf') format('truetype'),
		url('fonts/Icons/line-awesome.svg#line-awesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*=========================================================================================
 ======= Variables
 =========================================================================================*/

:root {
    /* Some widths */
    --header-height: 500px;
    --col-1: 530px;
    --col-2: 530px;
    --stickout: 80px;
    
    /* The basic grid columns and rows for the page */
    --page-column-layout: [page] auto [stickout-l] 80px [content] 530px [col-2] 530px [content-end] 80px [stickout-r] auto [page-end];
    --page-column-layout: [page] auto [stickout-l] var(--stickout) [content] var(--col-1) [col-2] var(--col-2) [content-end] var(--stickout) [stickout-r] auto [page-end];
    --page-row-layout: [header] var(--header-height) [content] 1fr [footer] auto;
    
    /* Colors */
    --pri-color: rgb(250, 80, 66);
    --sec-color: rgb( 88, 88, 88);
    --ter-color: rgb( 245, 245, 245);
	 
    /* Contrasting colors */
    --pri-con-color: rgb(255,255,255);
    --sec-con-color: rgb(255,255,255);
    --ter-con-color: rgb(88,88,88);
	 
	--bgc: var(--pri-color);
	--con-color: var(--pri-con-color);
	
	--sec-text-color: #5a5069;
	
	/* Fonts */
	
	--text-font: Helvetica, Arial, sans-serif;
	--header-font: Helvetica, Arial, sans-serif;
}

/*=========================================================================================
 ======= CSS grid & custom properties support warning
 =========================================================================================*/

.support-warning {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(68, 68, 68, 0.98);
	z-index: 100000;
	display: fixed;
	font-size: 16px;
	line-height: 1.7em;
}

.support-inner {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 70%;
	max-width: 800px;
	min-width: 400px;
	padding: 40px;
	color: #444;
	text-align: left;
	background: white;
	border: 2px solid rgba(150, 0,0, 1);
	border-radius: 4px;
}

.support-inner span.h1 {
	font-size: 1.4em;
	font-weight: bold;
	display: block;
	margin-bottom: 1em;
}

.support-error-image {
	width: 30px;
	height: 30px;
	display: inline-block;
}

.support-inner a {
	color: #444;
	font-weight: bold;
	padding: 4px 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 1.7em;
	text-decoration: none;
}

.support-inner a:hover {
	background: #eee;
}

@supports(--variable: 100px) {
   .support-warning { display: none; }
}

/*=========================================================================================
 ======= Size check
 =========================================================================================*/

.size-check {
    display: none;
    width: 2500px;
}

@media screen and (max-width: 950px) {
    .size-check {
        width: 950px;
    }
}

/*=========================================================================================
 ======= Basic Styling
 =========================================================================================*/

html {
	height: 100%;
	width: 100%;
	font-weight: normal;
}

body {
	font-size: 20px;
	line-height: 1.7em;
	color: var(--text-color);
	font-family: var(--text-font);
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input, textarea, select, button {
	font-family: var(--text-font);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--h-color);
	font-family: var(--header-font);
}

h1 {
	line-height: 1em;
	font-size: 4rem;
	font-weight: 700;
	margin: 15px 0;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 0px var(--sec-color);
}

h2 {
	font-size: 1.4rem;
	line-height: 1.4em;
	font-weight: 700;
}

h3 {
	font-family: var(--text-font);
}

.content h2 {
	text-align: center;
	padding-bottom: 15px;
}

h3 {
	font-size: 1.4rem;
	line-height: 2em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.content a {
	text-decoration: none;
	font-weight: 700;
}

.content a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
}

q {
	font-style: italic;
	quotes: "“" "”";
}

q:before {
	content: open-quote;
	font-size: 6rem;
	display: block;
	position: absolute;
	left: 50px;
	color: rgba(0,0,0,0.5);
	font-family: "Times New Roman", serif;
}

q:after {
	content: close-quote;
	font-size: 6rem;
	display: block;
	position: absolute;
	right: 60px;
	color: rgba(0,0,0,0.5);
	font-family: "Times New Roman", serif;
}

body::-webkit-scrollbar {
	width: 0.8em;
}
 
body::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.05);
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
	width: 0.7em;
	background-color: var(--pri-color);
	border-radius: 0.4em;
}

.icon {
	margin-left: -35px;
	display: inline-block;
	width: 35px;
	font-family: "IconsFont";
	font-size: 1.5rem;
	vertical-align: top;
	text-align: center;
}

.icon-location {
	margin-top: 2px;
}

.envisic {
	width: 100%;
	text-align: center;
	margin: 30px 0 0 0;
	font-size: 1rem;
	color: white;
}

.envisic a {
	color: white;
	text-decoration: none;
}

.envisic a:hover {
	text-decoration: underline;
}

.content ul {
	margin-left: 2em;
	margin-top: 1.4em;
	margin-bottom: 1.4em;
	list-style: disc;
	list-style-position: outside;
}

.content ul li {
	line-height: 1.9em;
}



/*=========================================================================================
 ======= Page Layout
 =========================================================================================*/

.page-wrapper {
	width: 100%;
	height: 100vh;
	display: grid;
	align-content: stretch;	
	grid-template-columns: var( --page-column-layout);
	grid-template-rows:  var(--page-row-layout);
	-ms-grid-template-columns: var( --page-column-layout);
	-ms-grid-template-rows:  var(--page-row-layout);
}

@supports not (display: grid) {
	.page-wrapper {
		display: block;
	}
}

header {
	grid-column: page / page-end;
	grid-row: 1 / 1;
	height: 100%;
	display: grid;
	grid-template-columns: var(--page-column-layout);
	position: relative;
	-ms-grid-column: page / page-end;
	-ms-grid-row: 1 / 1;
	-ms-grid-template-columns: var(--page-column-layout);
}

@supports not (display: grid) {
	header {
		display: block;
		height: var(--header-height);
		width: 100%;
	}
}

.h1-headline {
    grid-column: content / content-end;
    grid-row: 1 / 2;
    z-index: 9;
    align-self: center;
    -ms-grid-column: content / content-end;
    -ms-grid-row: 1 / 2;
}

@supports not (display: grid) {
	.h1-headline {
		display: block;
		width: calc(var(--col-1) + var(--col-2));
	}
}

main {
	grid-column: page / page-end;
	display: grid;
	grid-template-columns: var( --page-column-layout);
	padding-top: 50px;
	-ms-grid-column: page / page-end;
	-ms-grid-template-columns: var( --page-column-layout);
}

@supports not (display: grid) {
	main {
		display: block;
		width: 100%;
	}
}

.content-wrap {
	grid-column: content / content-end;
	width: 100%;
	margin: 40px auto;
	-ms-grid-column: content / content-end;
}

@supports not (display: grid) {
	.content-wrap {
		display: block;
		width: calc(var(--col-1) + var(--col-2));
	}
}

footer {
	display: grid;
	grid-column: page / page-end;
	grid-template-columns: var(--page-column-layout);
	background: var(--pri-color);
	-ms-grid-column: page / page-end;
	-ms-grid-template-columns: var(--page-column-layout);
}

.bgc {
	display: grid;
	grid-template-columns: var(--page-column-layout);
	grid-column: page / page-end;
    color: var(--sec-con-color);
	background: var(--sec-color);
    padding: 40px 0;
    margin: 0px auto;
	-ms-grid-template-columns: var(--page-column-layout);
	-ms-grid-column: page / page-end;
}

.bgc.pri-color {
    --bgc: var(--pri-color);
    --con-color: var(--pri-con-color);
    color: var(--pri-con-color);
    background: var(--pri-color);
}

.bgc h1, .bgc h2, .bgc h3, .bgc h4, .bgc h5, .bgc h6, .bgc a {
    color: inherit;
}

.bgc.sec-color {
    --bgc: var(--sec-color);
    --con-color: var(--sec-con-color);
    color: var(--sec-con-color);
    background: var(--sec-color);
}

.bgc.ter-color {
    --bgc: var(--ter-color);
    --con-color: var(--ter-con-color);
    color: var(--ter-con-color);
    background: var(--ter-color);
}

.bgc .content {
	grid-column: content / content-end;
	-ms-grid-column: content / content-end;
}

.no-padding-with-bgc.bgc {
	padding:0px;
}

.no-padding-with-bgc.bgc .content {
	margin:0px auto; 
}


.c-flex-slider .content {
    grid-column: stickout-l / stickout-r;
    -ms-grid-column: stickout-l / stickout-r;
}

@supports not (display: grid) {
	.bgc {
		display: block;
		width: 100%;
	}
	
	.bgc .content {
		display: block;
		width: calc( var(--col-1) + var(--col-2) );
		margin-left: auto;
		margin-right: auto;
	}
	
	.content:after {
		display: block;
		content: '';
		clear: both;
	}
}

/*=========================================================================================
======= Header
=========================================================================================*/

.header-images {
	height: var(--header-height);
	grid-column: page / page-end;
   grid-row: 1 / 1;
	overflow: hidden;
	z-index: 1;
	max-width: 100%;
}

.pos-rel {
	position: relative;
	z-index: -1;
}

.pos-abs {
	position: absolute;
}

@supports not (display: grid) {
	.header-images {
		display: block;
		position: absolute;
		width: calc( var(--col-1) + var(--col-2) + var(--stickout) + var(--stickout) );
		left: 50%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
	}
}

.header-content {
    grid-column: content / content-end;
    grid-row: 1 / 1;
    z-index: 10;
    pointer-events: none;
}

.header-content > * {
        pointer-events: all;
}

@supports not (display: grid) {
	.header-content {
		display: block;
		position: absolute;
		width: calc( var(--col-1) + var(--col-2) + var(--stickout) + var(--stickout) );
		left: 50%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
	}
}

.header-image-slider {
	height: 100%;
    width: 100%;
    position: relative;
}

.header-slider-slide {
	text-align: center;
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: hidden;
}

.header-slider-slide img {
    margin: auto;
    display: block;
    position: absolute;
    min-width: 100%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.header-image {
	height: 100%;
    width: auto;
    max-width: 100%;
    min-width: 100%;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}
	
.logo-wrap {
    padding: 15px;
    display: block;
    /*text-align:left*/                     
}

.logo-link {
}

.logo {
   max-width: 15rem;
   max-height: 12rem;
}

/*=========================================================================================
 ======= Navigation - Nav Main
 =========================================================================================*/

.nav-main{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0;
    display: grid;
    grid-template-columns: var(--page-column-layout);
    border-bottom: 3px solid var(--ter-color);
}


.scroll-offset .nav-main {
    position: fixed;
    width: 100%;
    bottom: auto;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: var(--page-column-layout);
}


.nav-wrap {
    grid-column: content / content-end; /*  Primary navigation column position  */
}
	
.nav-main {
    background: var(--pri-color);
}

.nav-main ul {
    display: flex;
}

.nav-main ul.children {
    position: absolute;
    display: none;
    flex-direction: column;
}

.nav-main ul li:hover > ul.children {
    display: flex;
}

.nav-main ul a {
   display: block;
   position: relative;
   color: var(--pri-con-color);
   background: var(--pri-color);
   text-decoration: none;
   min-height: 3rem;
   height:  auto;
   padding: 0.6rem .8rem;
   font-weight: bold;
   margin: 0 1px 1px 0;
   transition: all 0.1s ease-in-out;
}

.nav-main ul a:hover {
    background: var(--pri-con-color);
    color: var(--pri-color);
}

.nav-main ul a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.1s ease-in-out;
}

.nav-main ul li > a:hover:before {

}

/*=========================================================================================
 ======= Burger menu
 =========================================================================================*/

/*
.menu-button {
	position: fixed;
	top: 20px;
	left: 20px;
	font-size:1.2rem;
	height: 3em;
	padding: 0.8em 1em;
	color: white;
	background: var(--pri-color);
	z-index: 20;
}

.menu-button:hover {
	opacity: 0.95;
	cursor: pointer;
}

.menu-button:before {
	content: '\f131';
	font-family: 'IconsFont';
	margin-right: .3rem
}

.menu-button.active:before {
	content: '\f191'
}

.menu-button:after {
	content: 'Menu';
}

.nav-main {
	display: block;
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 50%;
   background: var(--pri-color);
   padding: 6rem 2rem 2rem 1rem;
   transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
   transform: translate3d(-55vw, 0, 0);
	border-right: 2px solid var(--sec-color);
}

.nav-main.active {
	transform: translate3d(0px, 0, 0);
}

.nav-main ul {
	float: none;
	text-align: left;
}

.nav-main ul > li {
	display: block;
}

.nav-main ul a {
   text-decoration: none;
   padding: 1rem 15px;
   height: auto;
   background: none;
   float: none;
   font-weight: bold;
   margin: 0 1px 1px 0;
	font-size: 2rem;
	color: var(--pri-opp-color);
}

.nav-main ul ul {
	position: relative;
	top: auto;	 
}

ul.children {
	display: block;
	margin-left: 25px;
	font-weight: normal;
}

ul.children li a {
	margin-left: 25px;
	font-weight: normal;
	text-align: left;
}
*/

/*=========================================================================================
 ======= Navigation - Nav Top
 =========================================================================================*/

.nav-top-bar {
	width: 100%;
	z-index: 200;
	position: absolute;
	display: grid;
	grid-template-columns: var( --page-column-layout);
	top: 5px;
	left: 0px;
	transition: all 0.3s ease-in-out;
}

.nav-top-bar nav {
	grid-column: content / content-end;
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
}

.nav-top {
	display: flex;
	flex: 0 auto;
    justify-content: flex-end;
}

.nav-top ul {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.nav-top ul li {
	flex: 1 1 auto;
	margin-right:1px;
}

.nav-top a {
	text-decoration: none;
	color: white;
	padding: 10px 10px;
	transition: all 0.2s ease-in-out; 
    background: rgba(0,0,0,0.2);
}

.nav-top a:hover {
	background: rgba(0,0,0,0.5);
}

.nav-top *[data-icon]:before {
	font-size: 1.6rem;
    line-height: 1rem;
    position: relative;
    top: 4px;
    padding-right: 0px;
    color: var(--pri-con-color);
}

.nav-top ul li:last-of-type a {
	border-right: none;
}

/*=========================================================================================
======= Responsive Nav Menu
=========================================================================================*/

:root {
	--nav-mobile-height: 45px;
}

.nav-trigger, .nav-mobile {
	display:none;
}

.nav-trigger {
	position: absolute;
	left: 0;
	right: 0;
	top: calc( var(--header-height) - var(--nav-mobile-height) );
	z-index: 100;
}
 
.nav-trigger .burger {
	position: relative;
	background-color: var(--pri-color);
	cursor: pointer;
	width: 100%;
	height: var(--nav-mobile-height);
	margin: 0 auto;
}

.top-bun, .bottom-bun {
	position: absolute;
	background: white;
	width: 32px;
	height: 1px;
	left: 50%;
	transform: translateX(-16px);
	transition: all .25s ease-in-out;
	z-index: 200;
}

.nav-closed .top-bun {
	top:18px;
}

.nav-closed .bottom-bun {
	top: 28px;
}

.nav-open .top-bun, .nav-open .bottom-bun {
	position: absolute;
	background: white;
	width: 22px;
	height: 1px;
	left: 50%;
	transition: all .25s cubic-bezier(0,0,0,1);
}

.nav-open .top-bun {
	top:18px;
	transform: translate(-3px, 5px) rotate(225deg);
}

.nav-open .bottom-bun {
	top: 28px;
	transform: translate(-18px, -5px) rotate(-225deg);
}

.nav-mobile {
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	top: var(--header-height);
	overflow: hidden;
	height: 0px;
	transition: all .3s cubic-bezier(0,0,0,1);
	z-index: 99;
}

.nav-open .nav-mobile {
	height: auto;
}

.nav-mobile ul {
	width: 100%;
	text-align: center;
	position: relative;
	margin:0;
	padding: 0;	
	background: rgba(0,0,0,0.85);
	transform: translate3d(0, -100vh, 0);
	transition: all .3s cubic-bezier(0,0,0,1);
}

.nav-open .nav-mobile ul {
	transform: translate3d(0, 0, 0);
}

.nav-mobile > ul:last-of-type {
	border-top: 1px dotted rgba(255,255,255,0.3);
}

.nav-mobile li a {
	display: block;
	width: 100%;
	position:relative !important;
	z-index: 200;
	text-decoration: none;
	padding: 15px 10px;
	color: white;
}

.nav-mobile ul.children {
	display: block;
	position:relative;
	margin:0;
	top: 0px;
	background: none;
}

.nav-mobile ul.children a {
	font-weight: normal;
}

.nav-mobile a:hover {
	background: rgba(255,255,255,0.1);
}

div#primary-menu > ul > li:last-of-type a {
	margin-top: -6px;
}


/*=========================================================================================
======= Buttons
=========================================================================================*/

.button {
	display: inline-block;
	position: relative;
	color: white;
	background: var(--pri-color);
	box-sizing: border-box;
	text-align: center;
	font-size: 1.2rem;
   padding: 15px 25px;
	transition: all 0.2s;
	border-radius: 5px;
	border: 1px solid transparent;
	z-index: 1;
}

.button:hover, a.button:hover {
	text-decoration: none;
    color: var(--pri-color);
	border-color: var(--pri-color);
	background: white;
    cursor: pointer;
}

.bgc.pri-color .button {
    background: var(--pri-color);
    border-color: var(--pri-con-color);
    color:var(--pri-con-color);
}

.bgc.pri-color .button:hover {
    border-color: var(--pri-con-color);
    background: var(--pri-con-color);
    color: var(--pri-color);
}

.bgc.sec-color .button {
    background: var(--sec-color);
    border-color: var(--sec-con-color);
    color: var(--sec-con-color);
}

.bgc.sec-color .button:hover {
    border-color: var(--sec-con-color);
    background: var(--sec-con-color);
    color: var(--sec-color);
}

.bgc.ter-color .button {
    background: var(--ter-color);
    border-color: var(--ter-con-color);
    color: var(--ter-con-color);
}

.bgc.ter-color .button:hover {
    border-color: var(--ter-con-color);
    background: var(--ter-con-color);
    color: var(--ter-color);
}

/*=========================================================================================
======= ACF Flex paragraph
=========================================================================================*/

.flex-paragraph {
	margin-bottom: 30px;
}

.flex-paragraph h2 {
	text-align: left;
}

.spotlight {
	position: relative;
	font-family: var(--header-font);
	font-style: italic;
	opacity: 0.9;
	width: 70%;
	margin: 0 auto;
	padding-left: 20px;
}

.spotlight:before {
	content:'';
	display:block;
	position:absolute;
	width: 1rem;
	height: 2rem;
	background: rgba(0,0,0,0.2);
	left:-1rem;
	top:0;
	border-radius: 0 0 20px 0;
}

.spotlight:after {
	content:'';
	display:block;
	position:absolute;
	width: 1rem;
	height: 2rem;
	background: rgba(0,0,0,0.2);
	left:-2.5rem;
	top:0;
	border-radius: 0 0 20px 0;
}

.flex-text-header {
	margin-top: -25%;
}

.c-flex-text .content-animation {
    display: flex;
    justify-content: space-between;
}

.c-flex-text .content.img-left .content-animation {
    flex-direction: row-reverse;
}

/*=========================================================================================
======= Content images
=========================================================================================*/

.content-image-group-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.content-image-wrap.landscape {
	flex: 1 1 49%;
	position:relative;
	height: 400px;
	width: auto;
	margin: .5%;
	overflow: hidden;
}

.content-image-wrap.portrait {
	flex: 1 1 24%;
	position:relative;
	height: 400px;
	width: auto;
	margin: .5%;
	overflow: hidden;
}

.content-image-wrap.landscape a, .content-image-wrap.portrait a {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.content-image-wrap.landscape img, .content-image-wrap.portrait img {
	position: absolute;
	display: block;
	width: 110%;
	height: auto;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	opacity: 0;
}

.content-image-wrap.landscape img {
	width: auto;
	min-height: 100%;
}

.content-image-wrap {
	margin-bottom: 30px;
}

.content-image {
	width: 100%;
	height: auto;
	position: relative;
}

a.content-image, a[data-lightbox-id="*"] {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

.content-image-overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	position: absolute;
	transition: all 0.15s ease-in-out;
	opacity: 0;
	box-sizing: border-box;
}

.content-image-overlay:after {
   --icon-size: 90px;
    line-height: var(--icon-size);
	content: '\f123';
	display: block;
	position: absolute;
	font-family: IconsFont;
	color: white;
	font-size: var(--icon-size);
	font-weight: normal;
	text-align: center;
	width: var(--icon-size);
	height: var(--icon-size);
    top: calc(50% - ( var(--icon-size) / 2));
    left: calc(50% - ( var(--icon-size) / 2));
}

.content-image-overlay:hover {
	opacity: 1;
}

.content-image img {
	width: 100%;
	height: auto;
	display: block;
}

.img-as-background {
	display:none;
}

.flex-text-image {
	
}

.flex-text-image:after {
	content:'';
	display: block;
	clear: both;
}

.flex-text-image-column {
    flex: 0 1 46%; 
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0
}

.content-image-text {
	padding: 5px;
	font-style: italic;
	width: 100%;
	text-align: right;
}

.image-icon:before {
	content: '\e80e';
	font-family: 'IconsFont';
	color: rgba(44,211,138,1);
	font-style: normal;
}

/*=========================================================================================
 ======= Flex Gallery  
 =========================================================================================*/

.flex-gallery {
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}

.flex-gallery-image {
	vertical-align: top;
	position: relative;
	display: inline-block;
	width: 250px;
	height: 250px;
	padding: 0;
	border-right: 1px white solid;
}

.flex-gallery-image > img {
	width: 100%;
	height: auto;
	display: block;
}

.flex-gallery-album {
	display: flex;
	flex-wrap: wrap;
}

.flex-gallery-album .flex-gallery-image {
	flex: 0 1 24%;
	width: 24%;
	height: auto;
	margin: .5%;
}



/*=========================================================================================
 ======= Flex call to action 
 =========================================================================================*/
 
 .c-flex-cta {
	overflow:hidden;
 }
 
.flex-cta {
	display: flex;
	flex-flow: row wrap;
 	margin: 15px -10px 30px -10px;
	justify-content: space-between;
 }
 
 .cta-text-intro {
    text-align: center;
 }
 
.flex-cta-button-wrap {
    margin: 10px;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
}

.flex-cta[data-row-items="1"] > div {
	flex: 1 1 90%;
    margin-bottom: 0px;
}

.flex-cta[data-row-items="2"] > div {
	flex: 1 1 45%;
}

.flex-cta[data-row-items="3"] > div {
	flex: 1 1 31%;
}

.flex-cta-button-wrap:after {
    content: '';
    display: block;
    clear:both;
}
 
.flex-cta-button {
	display: block;
}

a.flex-cta-button:hover {

}

.bgc .flex-cta-button {
	background: rgba(0,0,0,0.1);
}

.flex-cta[data-row-items="1"] .flex-cta-button {
	display:inline-block;
}

.flex-cta[data-row-items="1"] .flex-cta-button.large-button {
	display:block;
}

.flex-cta-button.large-button {
	display: block;
	position: relative;
	height: 350px;
	padding: 0px;
	color: white;
	background: none;
}

.content a.flex-cta-button.large-button.has-image {
	border: none;
	color: white;
}

.flex-cta-button.has-no-image:hover {
	color: var(--pri-color);
}

.flex-cta-button.large-button.has-image:hover {
	border: none;
	color: white;
}

.flex-cta-image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 350px;
	overflow: hidden;
}

.flex-cta-image::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background:rgb(0,0,0);
	opacity: 0.5;
	z-index: 20;
    transform: translate(-50%,-50%);
    transition: all .25s ease-in-out;
}

.flex-cta-button-wrap:hover .flex-cta-image::after {
    opacity:0.3;
}

.flex-cta-image img {
	position: absolute;
	min-width: 110%;
	min-height:110%;
	height: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
   transition: all .3s ease-in-out;
   z-index: 10;
}

.flex-cta-button-wrap:hover .flex-cta-image img {
    transform: translate(-50%,-52%) scale(1.05);
}

.large-button .cta-text {
	display: block;
	position: absolute;
	width: 100%;
	padding: 25px 10px;
	z-index: 30;
	bottom: 0;
}

[data-icon]:before {
	content: attr(data-icon);
    font-family: 'IconsFont';
    font-style: normal;
    font-weight: lighter;
    padding-right: 9px;
    font-size: 1.3rem;
    speak: none;
}

.cta-icon {
    display: inline;    
}

.large-button .cta-icon:before {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    padding:0px;
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
    font-size: 8rem;
    z-index: 30;
}

/*=========================================================================================
 ======= Flex List child pages 
 =========================================================================================*/
.c-flex-child-pages h2 {
    text-align: center;
}

.child-pages-intro {
    text-align: center;
}

.flex-child-pages .flex-cta-button.large-button {
    height: auto;
    min-width: 20%;
    padding: 30px;
 }
 
 .child-page-wrap {
    flex: 1 1 20%;
    background: var(--pri-color);
 }

/*=========================================================================================
 ======= Flex YouTube 
 =========================================================================================*/

.flex-youtube-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}
.flex-youtube-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=========================================================================================
 ======= Flex USP list 
 =========================================================================================*/

.c-flex-usp > .content {
	text-align: center;
}

.usp-header {
	width: 100%;
	text-align: center;
	margin-top: 20px
}

.usp-header h2 {
	color: var(--pri-color);
	font-size: 1.4rem;
	font-weight: light;
}

.content ul.usp-list {
   display: inline-block;;
   flex-direction: column;
   align-items: center;
	margin: 30px auto;
}

.usp-list li {
	display:block;
	position: relative;
	list-style: none;
	font-size: 1rem;
	text-align: left;
	padding-left: 30px;
	transition: all 0.1s;
}

.usp-list li:hover {
	transform: scale(1.05);
}

.usp-list li:before {
	position: absolute;
	left: 0px;
}

.flex-usp-button-wrap {
	width: 100%;
	position: relative;
	text-align: center;
}

a.flex-usp-button {

}

a.flex-usp-button:hover {

}

.usp-text:before {
	font-family: 'IconsFont';
	color: white;
	font-style: normal;
	font-weight: light;
	padding-right: 9px;
	font-size: 1.3rem;
}

/*=========================================================================================
 ======= Slider
 =========================================================================================*/

.flex-slider {
	width: 100%;
	margin: 20px 0;
	position: relative;
	background: rgba(0,0,0,0.05);
}

.bgc .flex-slider {
    background: none;
}

.flex-image-slider .flex-slider {
	height: 80vmin;
}

.flex-image-slider .flickity-viewport {
	height: 100% !important;
}

.flex-image-slider .flex-slider-slide {
	height: 100%;
}

.flex-slider-slide {
	width: 100%;
    top: 50%;
    transform:translate3d(0, -50%, 0);
}

.flex-slider-content {
	box-sizing: border-box;
	padding: 40px 90px;
	display: block;
	width: 100%;
	position: relative;
}

.flex-slider-slide img {
	width: 100%;
	height: auto;
	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

/*=========================================================================================
 ======= Flex Table
 =========================================================================================*/

.flex-table-wrap table {
	width: 100%;
}

.flex-table-wrap th {
	padding: 8px;
	font-weight: bold;
	background: var(--pri-color);
	color: white;
	border-right: 1px solid white;
}

.bgc .flex-table-wrap th {
	background: rgba(0,0,0,0.1);
	color: white;
}

.flex-table-wrap th:last-of-type {
	border-right: none;
}

.flex-table-wrap td {
	padding: 8px;
}

.flex-table-wrap td {
	padding: 6px;
	border: 1px solid rgb(240,240,240);
    border-bottom: 0px;
    text-align: center;
}

.flex-table-wrap td:last-of-type {
	border-right: 0px solid rgb(240,240,240);
}

.flex-table-wrap td:first-of-type {
	border-left: 0px solid rgb(240,240,240);
}

.flex-table-wrap tbody tr:hover {
	background: rgba(0,0,0,0.05);
}

.flex-table-wrap td:hover {
	background: rgba(0,0,0,0.1);
}

/*=========================================================================================
 ======= Flex Google Maps 
 =========================================================================================*/

.google-maps-wrap {
    height: 100%;
    width: 100%;
    margin: 60px auto 100px auto;
}

.bgc .google-maps-wrap {
	grid-column: content / content-end;
	margin: 0px;
}

.bgc.c-google-maps {
	padding: 0px;
}

.c-google-maps.full-width .google-maps-wrap {
	grid-column: page / page-end;
	margin :0px;
}

.full-width {
	width: 100%;
	padding: 0px;	
}

#map {
    height: 100%;
}


/*=========================================================================================
 ======= Form 
 =========================================================================================*/

.flex-form-wrap {
	width: 50%;
    margin: 0 auto;
    text-align: center;
}

.flex-form-wrap h2 {
	margin: 30px auto;
}

.flex-field-wrap {
    margin: 15px 0;
}	

form input, form select {	
	height: 40px;
	display: inline-block;
	padding: 8px 15px 8px 15px;
	font-size: 1rem;
}

form textarea {
	display: inline-block;
	padding: 8px 15px 8px 15px;
	font-size: 1rem;
	resize: none;
}

form label {
	width: 35%;
    text-align: right;
    top: 0px;
    height: 100%;
    display: block;
    float: left;
    padding: 8px 15px 8px 15px;
	font-size: 1rem;
}

form input, form select, form textarea {
	width: 62%;
	border: 1px solid rgb(235,235,235);
	border-radius: 3px;
}

form select {

}

form input[type=checkbox] {
   height: 20px;
	width: 20px;
   margin-top: 15px;
	display: block;
   float: left;
}

form input[type=radio] {
	height: 16px;
}

form input[type=submit] {
    margin: 35px auto;
	padding: 3px 30px;
	height: 50px;
	width: auto;
}

form input:hover[type=submit] {
	border-color: var(--pri-color);
    color: var(--pri-color);
	background: white;
	cursor: pointer;
}

.bgc form input[type=submit] {
	border-color: white;
    background: none;
}

.bgc form input:hover[type=submit] {
    background: white;
}

.bgc.pri-color form input:hover[type=submit] {
    color: var(--pri-color);
}

.bgc.sec-color form input:hover[type=submit] {
    color: var(--sec-color);
}

.bgc.ter-color form input:hover[type=submit] {
    color: var(--ter-color);
}

.g-recaptcha {
	margin: 25 auto;
}

.g-recaptcha > div {
	width: 100% !important;
}

.flex-form-success-wrap {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.95);
    z-index: 500;
}

.flex-form-success {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: auto;
	padding: 40px;
	background: rgba(255,255,255,1);
	border: 1px solid rgba(205,205,205,1);
	text-align: center;
}

.flex-form-success-icon {
    width: 100%;
    height: 70px;
}

.flex-form-success-icon:before {
    position: absolute;
    left: 50%;
    color: white;
    width: 50px;
    height: 50px;
    background: rgb(32, 212, 66);
    border-radius: 25px;
    padding-top: 11px;
    padding-left: 11px;
    font-size: 1.8rem;
    text-align: center;
    transform: translateX(-50%);
}

.flex-form-success h2 {
    text-align: center;
}

.flex-form-success-show {
	display: block;
}

.flex-form-close-button {
	display: inline-block;
    background: rgb(250,250,250);
    border: 1px solid rgb(235,235,235);	
    padding:15px 25px;
	margin-top: 35px;
	cursor: pointer;
}

.flex-form-close-button:hover {
	background: rgb(235,235,235);
}

/*=========================================================================================
 ======= Open hours 
 =========================================================================================*/

.footer-content.footer-open-hours-block {
    padding-left:15px;
}

.open-hour-period {
    display: inline-block;
    width: 175px;
}

.open-hour-time {
    display: inline-block;
    padding: 0px 0px;
}

.open-hour-time:before {
    content: ': ';
    padding: 2px 0px;
}





/*=========================================================================================
 ======= Footer content 
 =========================================================================================*/

.footer-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	grid-column: content / content-end;
	-ms-grid-column: content / content-end;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 100%
}

.footer-column {

}

.footer-content {
	flex: 3 1;
	box-sizing: border-box;
	padding: 25px 25px 20px 0;
}

.footer-logo {
	flex: 0 0 100%;
    width: 230px;
    height: 130px;
    padding-top: 35px;
    padding-left: 15px;
}

.footer-logo img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
}

.footer-naw {
	
}

.footer-open-hours-block {
	flex: 5 1;
}

.footer-social-block {
	flex: 1 1
}

.footer-link-block span {
	padding: 2px 15px;
}

a.footer-link {
	display: block;
	padding: 0px 15px;
	border-radius: 3px;
}

a.footer-link:hover {
	background: rgba(0,0,0,0.1);
}

.main-column {
	width: 100%;
	float: left;
}

.grid {

}

.grid:after {
	clear: both;
}

.footer-content a {
	text-decoration: none;
}

.contact {
	padding-left: 55px;
	line-height: 1.7em;
}

.footer-content [data-icon]:before {
	display: inline-block;
    width: 40px;
    font-family: "IconsFont";
    font-size: 1.7rem;
    vertical-align: top;
    text-align: center;
    padding-right: none;
    position: relative;
    top: -2px;
}

.footer-naw [data-icon]:before {
    margin-left: -40px;
}

.footer-social-block {
    padding-left: 15px;
}

.footer-social-link {
    display: inline-block;
    margin-right: 6px;
    width: 45px;
}

.footer-social-link::before {
    padding-right: 0px;
}

.footer-social-link:hover::before {
    display: inline-block;
    background: rgba(0,0,0,0.2);
    
}


footer, footer a.footer-link, footer a, footer a:hover, footer-content {
    color: var(--pri-con-color);   
}


/********************************************************************************************************************
 *                                                                                                                  *
 *                                          R e s p o n s i v e   l a y o u t                                       *
 *                                                                                                                  *
 *******************************************************************************************************************/


@media screen and (max-width: 1600px) {
    
    body {
        font-size: 18px;
    }
    
    .content-width {
        width: 100%;
    }
    
    .header-images {
        width: 100%;
    }
    
    .flex-form-wrap {
        width: 80%;
    }
}

@media screen and (max-width: 1260px) {   
	:root {
		--col-1: 430px;
	    --col-2: 430px;
	    --stickout: 80px;
	}
        
    .column-1 {
        width: 60%;
        margin-right: 5%;
    }
    
    .column-2 {
        width: 35%;
    }
}

@media screen and (max-width: 1054px) {   
	:root {
		--col-1: 400px;
	    --col-2: 400px;
	    --stickout: 80px;
	}
        
    .column-1 {
        width: 60%;
        margin-right: 5%;
    }
    
    .column-2 {
        width: 35%;
    }
}

@media screen and (max-width: 950px) {
	
	body {
		font-size: 15px;
	}
	
	:root {
	    /* Some widths */
	    --header-height: 300px;
	    --col-1: 1fr;
	    --col-2: 1fr;
	    --stickout: 15px;
	}
	
	header {
		overflow: visible;
	}
	
	.no-padding-with-bgc > .content {
    	padding: 0px;
   }
    
	.float-left, .float-right {
		 float: none;
	}
    
    .c-flex-text .content .content-animation {
        flex-wrap: wrap;
    }
		 
	.flex-text-image-column {
        flex: 0 0 100%; 
    }
    
    .spotlight {
        padding: 30px 30px 30px 45px;
    }
    
    .spotlight:before {
        left: 1rem;
    }
    
    .spotlight:after {
        left: -0.5rem;
    }
	
	.column-1, .column-2 {
		 float: none;
		 width: 100%;
	}

	.column-2 {
		 margin-top: 10px;
		 margin-bottom: 20px;
	}
	
	q:before {
		 content: open-quote;
		 font-size: 6rem;
		 display: block;
		 position: absolute;
		 left: 30px;
		 color: #bbb;
		 font-family: "Times New Roman", serif;
	
	}
	
	q:after {
		 content: close-quote;
		 font-size: 6rem;
		 display: block;
		 position: absolute;
		 right: 60px;
		 color: #bbb;
		 font-family: "Times New Roman", serif;
	}
	
	.flex-gallery-image {
	
	}
	
   h1 {
		font-size: 2rem;
		line-height:2.2rem;
   }
    
    .logo-scroll-offset {
	   display: none;
   }
    
   .logo-wrap {
	   top: 0;
   }
    
   .logo img {
	   margin: 10px;
   }
    
   /*=========================================================================================
   ======= Responsive Header & Navigation
   =========================================================================================*/
	
   .nav-main, .nav-top-bar {
		display:none;
   }

   .nav-trigger {
        display: block;
    }
        
   .logo {
      max-width: 10rem;
      max-height: 7rem;
      margin-left: 15px;
   }
    
    .footer-logo {
	   max-width: 180px;
	   width: auto;
	   height: 120px;
	   padding:35px 10px;   
	}
    
   .footer-column {
      width: 100%;
   }
   
   .footer-column-2 {
	   flex-wrap: wrap;
   }
    
    /*=========================================================================================
     ======= Content slider
     =========================================================================================*/
	 	 
	.flex-slider-content {
		box-sizing: border-box;
		padding: 40px 60px;
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}

   .flex-form-wrap {
	   width: 100%;
   }
    
	.flex-form-success {
		width: 90%;
	}
	
	.spotlight {
		width: 80%;
	}
	
	
	.buffet-wrap {
		flex: 0 0 calc(50% - 20px);
	}
}

@media screen and (max-width: 600px) {
		
	:root {
		--stickout: 15px
	}
	
   main {
		padding-top: 30px;
	   padding-bottom: 50px;
   }
    
   footer {
	   position: relative;
   }
    
	.footer-wrapper {
		height: auto;
	}
	
	.footer-content {
		flex: 1 0 100%;
		margin-right: 0px;
		padding:25px 0px;
	}
	
	.footer-logo {
		width: 100%;
		max-width: none;
		margin: 0 auto;
		text-align: center;
	}
	
	.footer-logo a {
		height: 100%;
		margin: 0 auto;
		display: inline-block;
	}
	
	.footer-social-link:before{
		margin-left: 10px !important;
	}
   
	.content-wrap.no-bgc {
		margin: 5px auto;
	}
	
	.content-wrap.bgc {
		margin: 20px auto;
	}
	
   /* ----- FLEX CTA -----------------------------------------------------*/
    
	.c-flex-cta {
		 padding: 0px;
	}
	
	.large-button .cta-icon:before {
		 font-size: 4rem;
	}
	
	.flex-cta-button.large-button {
		 height: 160px;
	}
	
	.flex-cta-image {
		height: 160px;
	}
	
	.flex-cta-image img {
	    min-width: 100%;
	    min-height: 100%;
	    width: 100%;
    }
	
	.large-button .cta-text {
		 padding: 15px 10px;
	}
	
	.flex-cta[data-row-items="3"] > div {
    	flex: 1 1 100%;
	}
	
	.flex-cta[data-row-items="2"] > div {
    	flex: 1 1 100%;
	}
	
	.flex-image-slider .flex-slider {
		height: 55vmin;
	}
	
	/* ----- Flex -----------------------------------------------------*/
	
	.spotlight {
		font-size: 1.2rem;
		line-height: 2.2rem;	
	}
	
	.flex-gallery-image {
		width: 150px;
		height: 150px;
	}
	
	.flex-gallery-album .flex-gallery-image {
	    flex: 0 1 49%;
	    width: 49%;
	    height: auto;
	    margin: .5%;
	}
	
	.content-image-wrap.landscape, .content-image-wrap.portrait {
	    flex: 1 1 100%;
	    height: 300px;
	    margin: 1px;
	}
	
	.buffet-wrap {
		flex: 0 0 calc(100% - 20px);
	}
}
/*=========================================================================================
 ======= Quick overrides
 =========================================================================================*/
 
h1,h2,h3,h4,h5 {
    font-weight: bold;
}